{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/signup_style.css' %}" rel="stylesheet">

    <!-- Favicons -->
   <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">




    <title>Sign in</title>
</head>
<body>

{% block content %}
<div class="img-container">
<a href="{% url 'index'%}"> <img src="{% static 'img/favicon.png' %}" alt="" height="75" width="100"></a>

</div>
<h2> &nbsp&nbsp&nbspTHE FEDERAL POLYTECHNIC ADO </h2>

<div class="container">
    <div class="content">
      <h3>USER SIGN IN</h3>
      <form method="post">
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name= "username" placeholder="Username" value="" required= "required">

        <p>Password</p>
        <input type="text" name= "password" placeholder="........" value="" required= "required">

        <p></p>
        <button class="btn-custom" type="submit"> Confirm</button>

      </form>
    </div>
</div>
{% endblock %}

</body>
</html>
